* {
    margin: 0;
    padding: 5;
    background-color: #fff;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    margin: 2 auto;
    padding: 10px;
}